html, body {
    margin: 0;
    padding: 0;
    background: #f4f3f1; 
    overflow-x: hidden; /*stop side scroll when zoomed*/
}

@font-face {
  font-family: "CameraDate";
  src: url("fonts/courbd.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'MyCameraFont';
    src: url('fonts/Frutiger\ 65\ Bold.otf') format('truetype');
}

.stage {
    width: 100vw;
    min-height: 100vh; /* min-height allows the container to grow so you can scroll */
    display: flex;
    justify-content: center;
    align-items: flex-start; /*stop vertical centering*/
    overflow-x: hidden;
    background: #f4f3f1;
    padding-right: 0px;
    padding-left: 40px;

}

.mockup {
    position: relative;
    flex-shrink: 0;
    height: max(120vh, 70vw);
    width: auto;
    aspect-ratio: 2048 / 1280; 
    margin-top: 0vh;
}

.mockup-img {
    width: 100%;
    height: 100%;
    display: block;
    pointer-events: none; 
    object-fit: contain; 
}

.screen {
    position: absolute;
    left: 37.842%;
    top: 23.203%;
    width: 13.184%;
    height: 16.172%;
    overflow: hidden;
    border-radius: 2px; 
}

/*camera image*/
.screen-photo {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    image-rendering: auto;
}

/*hotspot for left and right clicks*/
.hotspot {
    /*outline: 2px solid red; debugging to see hotspot*/
    position: absolute;
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.hotspot-left {
    left: 54.2%;
    top: 29.5%;
    width: 1.0%;
    height: 4.0%;
}

.hotspot-right {
    left: 57%;
    top: 29.5%;
    width: 1.0%;
    height: 4.0%;
}

.camera-instruction {
    position: absolute;
    /* right above the camera body */
    top: 15%; 
    left: 46.5%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    font-family: 'MyCameraFont', sans-serif;
    font-weight: 700;
    font-size: 2.5vmin; 
    color: #2d5a27; 
    z-index: 20;
    pointer-events: none; 
}

.fade-out {
    opacity: 0;
}

.camera-ui {
  position: absolute;
  inset: 0;
  pointer-events: none; 
}

.battery-icon {
  position: absolute;
  bottom: -5%;
  right: -7%;
  width: 17%;
  opacity: 0.95;
}

.date-text {
  position: absolute;
  bottom: 9%;
  right: 2%;
  font-family: "CameraDate", monospace !important;
  /*font-size: 1.4vmin;*/
  font-size: clamp(7px, 0.4vw, 18px);
  color: #ffd800;
  text-shadow: 0 1px 2px rgba(0,0,0,0.35);
  letter-spacing: 0em;
}

